# build output
dist/
.netlify/

# Astro
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env variables
.env
.env.production
.env.development
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# editor
.idea
.vscode/
*.swp
*.swo
